
.menu-list {
    width: 270px;
    
    .menu-items {
        margin-left: 0;
        width: 100%;
        font-size: 1.2rem;
        font-weight: 600;
        display: flex;
        background-color: transparent;
    }
}


.menu-popper {
    padding-bottom: 8px;
}

.menu-body {
    overflow-y: auto;
    margin-left: 12px;
}

.menu-items {
    justify-content: flex-start;
    width: 100%;
    line-height: 1.6rem;
    border-radius: 0px;
    padding: 6px;
    cursor: pointer;

    &.separate {
        border-top: 1px solid rgb(22, 24, 35, 0.12);
    }

    &:hover {
        background-color: rgb(22, 24, 35, 0.03);
    }

}


// Header

.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
    flex-shrink: 0;
}

.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
