.wrapper {
    min-width: 420px;
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.content {
    display: flex;
    flex-direction: row;
    line-height: 21px;
    min-width: 692px;
    padding: 20px 0;
    position: relative;
    align-items: flex-start;
}

.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
}

.main-content {
    margin-left: 12px;
    width: 624px;
    flex: 1 1 624px;
}

.info-content {
    margin-right: 114px;
}

.user {
    display: flex;
    max-width: 510px;
}

.user-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    display: inline-block;
    margin-right: 4px;
}

.check {
    width: 14px;
    height: 14px;
    color: #20d5ec;
    margin-left: 4px;
}

.nick-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    line-height: 28px;
}

.follow-btn {
    position: absolute;
    left: 604px;
    top: 20px;
    min-width: 88px;
    height: 28px;
    min-height: 28px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
}

.video-desc {
    display: flex;
    font-size: 16px;
    line-height: 22px;
    word-break: break-word;
    flex-wrap: wrap;
}

.text-video {
    display: inline;
    font-weight: 400;
}

.hashtag-video {
    display: flex;

    &:hover {
        text-decoration: underline;
    }
}

.label {
    font-weight: 600;
    margin-left: 4px;
}

.music {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-top: 4px;
    margin-bottom: 12px;
    &:hover {
        text-decoration: underline;
    }
}

.video-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.action-video {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.icon {
    position: absolute;
    top: 14px;
}

// video share

.interactive-item {
    background-color: transparent;
    cursor: pointer;
}

.item-icon {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 48px;
    height: 48px;
    margin: 8px 0 6px 0;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 50%;
}

.icon {
    position: absolute;
    top: 14px;
}

.item-count {
    color: #7e7e81;
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    text-align: center;
}